

.logo {
  padding-top: 20;
}

.icon_sprite {
  padding: 20;
  float: right;
}

.icon_image {
  padding-left: 1em;
}

.read_link {
  float: right;
}

#banner {
  padding: 0.5em;
}

a {
  color: black;
}

.home_top {
  padding: 0.5em;
}

.about_top {
  padding: 0.5em 0.7em;
}

.idea_top{
  padding: 0.7em 0.5em;
}
.corner_bottom {
  float: right;
}

h4 {
  color: green;
}

.link {
  padding-left: 810px;
}

.home {
  padding-right: 0.5em;
}

.about {
  padding: 0.5em 0.5em;
}

.idea {
  padding: 1em 0.9em;
}

.dashline {
  border: thin dashed gray;
  padding-right: 200px;
  width: 82%;
}

body {
  margin: 0 auto;
  width: 1000px;
}


.why_html {
  width: 100%;
  padding: 0.5em 1em;
}

.learn_html {
  width: 300px;
  float: left;
  padding: 0.5em 1em;
  border-right: thin dashed gray;
}

.learn_css {
  display: inline-block;
  width: 250px;
  padding-left: 1em;
}

.why_seo {
  float: right;
  width: 30%;
  border: 8px solid #99994d;
  padding-left: 1em;
  background-color: #e5e5cc;
}

.seo {
  padding-left: 1em;
}

#bullet {
  padding-right: 4px;
}

.text_div {
  width: 100%;
  padding: 1em;
  height: 23em;
}


